@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
  background-color: rgba(124, 24, 22, 0.6);
}

.window-app .window-content {
  background: rgb(255, 255, 255);
}

.window-app .window-content input{
}


.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/* Styles limited to valor sheets */

.valor input {
  min-width: 25px;
  width: 20%;
  border: none;
  margin: auto;
}

.valor.sheet.actor {
  min-width: 780px;
  min-height: 550px;
  flex-wrap: nowrap;
  display: flex;
}

.valor.sheet.item {
  min-width: 800px;
  min-height: 650px;
  flex-wrap: nowrap;
  display: flex;
}

.valor .item-form {
  font-family: "Roboto", sans-serif;
  min-width: 800px;
}

.valor .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.valor .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: auto;
  width: 5vw;
  margin: 5px 8px 5px 0px;
  aspect-ratio: 2 / 3;
  overflow: hidden;
}

.valor.sheet-header.header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.valor nav.sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  border-top: 3px solid #4A151A;
  border-bottom: 3px solid #4A151A;
}

.valor .sheet-body,
.valor .sheet-body .tab,
.valor .sheet-body .tab .editor {
  height: max-content;
  min-height: 5em;
  padding: 0.5em;

}

.valor .tox .tox-editor-container {
  background: #fff;
}

.valor .tox .tox-edit-area {
  padding: 0 8px;
}

.valor .resource-label {
  font-weight: bold;
}


.valor .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.valor .items-header > * {
  font-size: 14px;
  text-align: center;
}

.valor .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.valor .item-list-container {
  --columns: 1;
  grid-area: auto / auto / auto / span var(--columns);

}

.valor .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

.valor .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.valor .items-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.valor .items-list .item-name h3, .valor .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.valor .items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.valor .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.valor .items-list .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.valor .items-list .item:last-child {
  border-bottom: none;
}

.valor .items-list .item .item-name {
}

.valor .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.valor .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.valor .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.valor .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

.valor .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.valor .item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}

.valor .effects .item .effect-source,
.valor .effects .item .effect-duration,
.valor .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.valor .effects .item .effect-controls {
  border: none;
}

.valor .attribute-box{
  border: 4px solid;
  padding: 0.5em;
  margin: 5px 10px 5px 10px;
  min-width: 135px
}

.valor .titlebox {
  position: relative;
  width: calc(100% - 50px);
  height: 50px;
  background-color: white;
  border-radius: 2px 0px 2px 0px;
  border: 6px solid;
  margin-left: 15px;
  margin-top: 10px;
  box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}

.valor .titlebox:before {
  content: "";
  background-color: white;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  left: 100%;
  bottom: 17px;
  border: 6px solid;
  border-left: none;
  border-radius: 0px 2px 2px 0px;
}

.valor .titlebox:after {
  content: "";
  background-color: white;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  left: -21px;
  top: 17px;
  border: 6px solid;
  border-right: none;
  border-radius: 2px 0px 0px 2px;
}

.valor .sheet-header .titlebox input {
  position: relative;
  width: calc(100% - 255px);
  border:none;
  background: none;
  font-size: 15px;
  bottom: -5px;
  left: 3px;
  margin: 0;
}

.valor .titlebox .titlebox-right {
  position: absolute;
  left: calc(100% - 250px);
  float: right;
  width: 200px;
  background: none;
  gap: 20px;
}
.valor .sheet-header .titlebox-right .level {
  position: relative;
  height: 54px;
  border: 11px solid;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  bottom: 46px;
  box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}


.valor .titlebox .titlebox-right .level label {
  position: relative;
  bottom: 32px;
  color: black;
  font-size: 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.valor .sheet-header .titlebox-right .level input {
  font-size: 17px;
  position: relative;
  bottom: -10px;
  left: 0;
  width: 150%;
}

.valor .sheet-header .titlebox-right .experience {
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 45px;
  width: 260%;
  box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);

}

.valor .titlebox .titlebox-right .experience label {
  margin: auto;
  position: relative;
  color: black;
  font-size: 13px;
  padding-left: 3px;

}

.valor .sheet-header .titlebox-right .experience div{
  position: relative;
  bottom: 5px;
  font-size: 14px;
  margin: auto;
}

.valor .sheet-header .titlebox-right .experience input {
  background-color: rgba(0, 0, 0, .04);
  width: 45%;
  text-align: right;
  bottom: 0;
}

/*season 1 colors*/
.valor .season1.text-border1 {
  color: #9ca34e;
}

.valor .season1.text-border2 {
  color: #c6d166;
}

.valor .season1.background {
  background: #f0f0d9;
}

.valor .attribute-box.green {
  background: #EDEDD6;
  color: #5C6021;
  border-color: #A8B055;
}

/*season 2 colors*/
.valor .season2.text-border1 {
  color: #F6A446;
}

.valor .season2.text-border2 {
  color: #F8C07B;
}

.valor .season2.background {
  background: #FEF2E2;
}

/*season 3 colors*/
.valor .season3.text-border1 {
  color: #5C6021;
}

.valor .season3.text-border2 {
  color: #9E9C63;
}

.valor .season3.background {
  background: #D6D3BB;
}

/*season 4 colors*/
.valor .season4.text-border1 {
  color: #74151A;
}

.valor .season4.text-border2 {
  color: #A15348;
}

.valor .season4.background {
  background: #DBB9AE;
}

.valor .season3.titlebox-right > div:not(.experience) > label.resource-label,
.valor .season4.titlebox-right > div:not(.experience) > label.resource-label {
  color: white;
  text-shadow: 0px 0px 4px black;
}

img.item-image,
.item-image img { background: #ababab; }



