
  <form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
      <img class="item-image" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
        <div class="titlebox season{{system.season}} text-border1">
          <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>

          <div class="grid grid-3col titlebox-right season{{system.season}} text-border2">
            <div class="flex-group-center level">
              <input type="text" name="system.season" value="{{system.season}}" data-dtype="Number"/>
              <label for="system.misc.season.value" class="resource-label">Season</label>
            </div>

            <div class="flex-group-center level">
              <input type="text" name="system.level.value" value="{{system.level.value}}" data-dtype="Number"/>
              <label for="system.misc.level.value" class="resource-label">Level</label>
            </div>

            <div class="flex-group-center level">
              <input type="text" name="system.sp.value" value="{{system.sp.value}}" data-dtype="Number"/>
              <label for="system.sp.value" class="resource-label">SP</label>
            </div>
          </div>
        </div>
      </div>
    </header>


    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item season{{system.season}} text-border1" data-tab="description">Description</a>
      <a class="item season{{system.season}} text-border1" data-tab="details">Details</a>
      <a class="item season{{system.season}} text-border1" data-tab="modifiers">Modifiers</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      {{!-- Description Tab --}}
      <div class="tab" data-group="primary" data-tab="description">
        <div class="season{{system.season}} background">
          <i>{{editor system.text.flavor target="system.text.flavor" rollData=rollData button=true owner=owner editable=editable}}</i>
        </div>
        <br>
        <h2 for="system.text.effect" class="resource-label season{{system.season}} text-border1">Effect</h2>
        {{editor system.text.effect target="system.text.effect" rollData=rollData button=true owner=owner editable=editable}}
        <h2 for="system.text.levelUp" class="resource-label season{{system.season}} text-border1">Level Up</h2>
        {{editor system.text.levelUp target="system.text.levelUp" rollData=rollData button=true owner=owner editable=editable}}
        <h2 for="system.text.special" class="resource-label season{{system.season}} text-border1">Special</h2>
        {{editor system.text.special target="system.text.special" rollData=rollData button=true owner=owner editable=editable}}
      </div>

      {{!-- Details Tab --}}
      <div class="tab" data-group="primary" data-tab="details">
        <div class="resources grid grid-3col ">
          <div class="resource flex-group-center">
            <label for="system.sp.base" class="resource-label">Base Bonus SP</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.sp.base" value={{system.sp.base}} data-dtype="Number"/>
            </div>
          </div>
          <div class="resource flex-group-center">
            <label for="system.sp.levelUp" class="resource-label">Bonus SP on Lvl Up</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.sp.levelUp" value="{{system.sp.levelUp}}" data-dtype="Number"/>
            </div>
          </div>
          <div class="resource flex-group-center">
            <label for="system.progression" class="resource-label">Progression</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.progression" value="{{system.progression}}" data-dtype="String"/>
            </div>
          </div>
        </div>
      </div>



      {{!-- Modifiers Tab --}}
      <div class="tab modifiers" data-group="primary" data-tab="modifiers">
        {{> "systems/valor/templates/item/parts/item-modifiers.html"}}
      </div>
    </section>

  </form>
