<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="item-image" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <div class="titlebox season2 text-border1">
        <input class="season4 text-border2" name="name" type="text" value="{{item.name}}" placeholder="Name"/>

        <div class="grid grid-3col titlebox-right season2 text-border2">

          <span></span>

          <div class="flex-group-center level">
            <input class="season4 text-border1" type="text" name="system.cost.stamina.value" value="{{system.cost.stamina.value}}" data-dtype="Number"/>
            <label for="system.cost.stamina.value" class="resource-label season4 text-border2">Cost</label>
          </div>

          <div class="flex-group-center level">
            <input class="season4 text-border1" type="text" name="system.level.value" value="{{system.level.techniqueLevel}}" data-dtype="Number"/>
            <label for="system.level.techniqueLevel" class="resource-label season4 text-border2">Level</label>
          </div>

        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <section class="grid grid-5col">

        <div class="resources flexcol attribute-box season2 text-border1 background">
          <div class="resource flexrow flex-group-center season4 text-border1">
            <label for="system.action" class="resource-label rollable flexlarge align-left" data-label="Action">Action: </label>
            {{system.action}}
          </div>
          <div class="resource flexrow flex-group-center season4 text-border1">
            <label for="system.targets" class="resource-label rollable flexlarge align-left" data-label="Targets">Target(s): </label>
            {{system.targets}}
          </div>
          <div class="resource flexrow flex-group-center season4 text-border1">
            <label for="system.range" class="resource-label rollable flexlarge align-left" data-label="Range">Range: </label>
            {{system.range.max}}
          </div>
          <div class="resource flexrow flex-group-center season4 text-border1">
            <label for="system.area" class="resource-label rollable flexlarge align-left" data-label="Area">Area: </label>
            {{system.area.xAxis}}
            <span>x</span>
            {{system.area.yAxis}}
          </div>
          <div class="resource flexrow flex-group-center season4 text-border1">
            <label for="system.attribute.opposedRoll" class="resource-label rollable flexlarge align-left" data-label="Opposed">Opposed Roll: </label>
            {{system.attribute.opposedRoll}}
          </div>
        </div>

        <div class="item-list-container season1 text-border1" style="--columns: 2;">

          {{!--Core--}}
          <label class="resource-label" data-label="Core">Core
            <div>
              <select class="techOptSelect">
                <option value='{{system.core._id}}'>{{ system.core.name }}</option>
                {{#each compendiumCores}}
                <option value='{{this._id}}'>{{ this.name }}</option>
                {{/each}}
              </select>

              <label for="system.level.coreLevel" class="resource-label rollable flexlarge align-left" data-label="Core Power">Core Power
                <input type="text" name="system.level.coreLevel" value="{{system.level.coreLevel}}" data-dtype="Number"/>
              </label>
            </div>
          </label>

          <br>

          <label class="resource-label">Modifiers
            <ol class="items-list season3 text-border1">
              <li class="item flexrow items-header season3 background">
                <div class="item-name">Name</div>
                <div class="item-controls">
<!--                  <a class="item-control item-create" title="Create item" data-type="skill"><i class="fas fa-plus"></i> Add Skill</a>-->
                </div>
              </li>
              {{#each flags.valor.technique.modifier as |item id|}}
              <li class="item flexrow" data-item-id="{{item._id}}">
                <div class="item-name">
<!--                  <div class="item-image">-->
<!--                    <a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a>-->
<!--                  </div>-->
                  <h4>{{item.name}}</h4>
                </div>
                <div class="item-image">
                  <input type="text" name="flags.valor.technique.modifier.{{id}}.level" value="{{item.level}}" data-dtype="Number"/>
                </div>
                <div class="item-controls">
<!--                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>-->
                  <a class="techOpt" data-action="delete" title="{{localize 'VALOR.ModifierDelete'}}" value="{{id}}"><i class="fas fa-trash" value="{{id}}"></i></a>
                </div>
              </li>
              {{/each}}
            </ol>
            <br>
            <label for="flags.valor.technique.modifier" class="resource-label rollable flexlarge align-left" data-label="Mods">
              <select class="techOptSelect">
                <option value=-1>- Add Modifier -</option>
                <option value=-1>-</option>
                {{#each compendiumMods}}
                <option value='{{this._id}}'>{{ this.name }}</option>
                {{/each}}
              </select>
            </label>
          </label>

        </div>


        <div class="item-list-container season4 text-border1" style="--columns: 2;">

          <label class="resource-label" data-label="Attribute">Attribute
            <div>
              <select class="techOptSelect">
                <option value='{{system.attribute.effect}}'>{{ system.attribute.effect }}</option>
                {{#each system.core.system.applicableAttributes}}
                {{#if this}}
                <option value='{{@key}}'>{{@key}}</option>
                {{/if}}
                {{/each}}
              </select>
            </div>
          </label>

          <br>

          <label class="resource-label">Limits
            <ol class="items-list season4 text-border1">
              <li class="item flexrow items-header season4 background">
                <div class="item-name">Name</div>
                <div class="item-controls">
                  <!--                  <a class="item-control item-create" title="Create item" data-type="skill"><i class="fas fa-plus"></i> Add Skill</a>-->
                </div>
              </li>
              {{#each flags.valor.technique.limit as |item id|}}
              <li class="item flexrow" data-item-id="{{item._id}}">
                <div class="item-name">
                  <!--                  <div class="item-image">-->
                  <!--                    <a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a>-->
                  <!--                  </div>-->
                  <h4>{{item.name}}</h4>
                </div>
                <div class="item-image">
                  <input type="text" name="flags.valor.technique.limit.{{id}}.level" value="{{item.level}}" data-dtype="Number"/>
                </div>
                <div class="item-controls">
                  <!--                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>-->
                  <a class="techOpt" data-action="delete" title="{{localize 'VALOR.LimitDelete'}}" value="{{id}}"><i class="fas fa-trash"value="{{id}}"></i></a>
                </div>
              </li>
              {{/each}}
            </ol>
            <br>
            <label for="flags.valor.technique.limit" class="resource-label rollable flexlarge align-left" data-label="Limits">
              <select class="techOptSelect">
                <option value='-1'>- Add Limit -</option>
                <option value='-1'>-</option>
                {{#each compendiumLimits}}
                <option value='{{this._id}}'>{{ this.name }}</option>
                {{/each}}
              </select>
            </label>
          </label>
        </div>
      </section>

      <br>

      <div>
        <div class="resource">
          <div class="valor season2 light background">
            <i>{{editor system.text.flavor.default target="system.text.flavor.default" rollData=rollData button=true owner=owner editable=editable}}</i>
          </div>

          <br>

          <div class="resource">
            <h2 for="system.text.effect" class="resource-label season2 text-border1">Effect</h2>
            {{editor system.text.crunch.effect target="system.text.crunch.effect" rollData=rollData button=true owner=owner editable=editable}}
          </div>
        </div>
      </div>
    </div>

  </section>
</form>
