<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-image" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">

            <div class="titlebox season{{system.season}} text-border1">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
                <div class="grid grid-3col titlebox-right season{{system.season}} text-border2">

                    <span></span>

                    <span></span>

                    <div class="flex-group-center level season{{system.season}} text-border2">
                        <input type="text" name="system.season" value="{{system.season}}" data-dtype="Number"/>
                        <label for="system.misc.season.value" class="resource-label">Season</label>
                    </div>
                </div>
            </div>

        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="details">Details</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="valor season{{system.season}} background">
                <i>{{editor system.text.flavor.default target="system.text.flavor.default" rollData=rollData button=true owner=owner editable=editable}}</i>
            </div>
            <br>
            <h2 for="system.text.crunch.effect" class="resource-label season{{system.season}} text-border1">Effect</h2>
            {{editor system.text.crunch.effect target="system.text.crunch.effect" rollData=rollData button=true owner=owner editable=editable}}
            <h2 for="system.text.crunch.levelUp" class="resource-label season{{system.season}} text-border1">Level Up</h2>
            {{editor system.text.crunch.levelUp target="system.text.crunch.levelUp" rollData=rollData button=true owner=owner editable=editable}}
            <h2 for="system.text.crunch.special" class="resource-label season{{system.season}} text-border1">Special</h2>
            {{editor system.text.crunch.special target="system.text.crunch.special" rollData=rollData button=true owner=owner editable=editable}}
        </div>

        {{!-- Details Tab --}}
        <div class="tab" data-group="primary" data-tab="details">
            <div class="resource-content flexrow flex-group-right flex-between">
                <label class="resource-label">Ultimate Mod?</label>
                <input type="checkbox" name="system.isUltMod" {{checked system.isUltMod}}/>
            </div>
            <div class="resource-content flexrow flex-group-right flex-between">
                <label class="resource-label">Levelabled?</label>
                <input type="checkbox" name="system.isLevelable" {{checked system.isLevelable}}/>
            </div>

            <div class="resource-content flexrow flex-group-right flex-between">
                <label class="resource-label">Level Cost: </label>
                <div class="resources grid grid-5col flex-group-right">
                    <div class="resource-content flex-group-center flex-between">
                        <label class="resource-label">Base</label>
                        <input type="text" name="system.techniqueLevelModifier.base" value="{{system.techniqueLevelModifier.base}}" data-dtype="Number"/>
                    </div>
                    <div class="resource-content flex-group-center flex-between">
                        <label class="resource-label">Per Level</label>
                        <input type="text" name="system.techniqueLevelModifier.perLevel" value="{{system.techniqueLevelModifier.perLevel}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>

            <div class="resource-content flexrow flex-group flex-between stacked command">
                <label class="resource-label">Prep Script: </label>
                <textarea name="system.scripts.prepScript">{{system.scripts.prepScript}}</textarea>
            </div>

        </div>


    </section>
</form>
