<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-image" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">

            <div class="titlebox season4 text-border1">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
            </div>

        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="details">Details</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="valor season4 background">
                <i>{{editor system.text.flavor.default target="system.text.flavor.default" rollData=rollData button=true owner=owner editable=editable}}</i>
            </div>
            <br>
            <h2 for="system.text.effect" class="resource-label season4 text-border1">Effect</h2>
            {{editor system.text.crunch.effect target="system.text.crunch.effect" rollData=rollData button=true owner=owner editable=editable}}
            <h2 for="system.text.special" class="resource-label season4 text-border1">Special</h2>
            {{editor system.text.crunch.special target="system.text.crunch.special" rollData=rollData button=true owner=owner editable=editable}}
        </div>

        {{!-- Details Tab --}}
        <div class="tab" data-group="primary" data-tab="details">
            <div class="flex-group-center">
                <div class="resource-content flexrow flex-group-right">
                    <label class="resource-label">Applicable Attribute: </label>
                    <div class="resources grid grid-5col flex-group-center">
                        <div class="resource-content flex-group-center ">
                            <label class="resource-label">Strength</label>
                            <input type="checkbox" name="system.applicableAttributes.strength" {{checked system.applicableAttributes.strength}}/>
                        </div>
                        <div class="resource-content flex-group-center ">
                            <label class="resource-label">Agility</label>
                            <input type="checkbox" name="system.applicableAttributes.agility" {{checked system.applicableAttributes.agility}}/>
                        </div>
                        <div class="resource-content flex-group-center ">
                            <label class="resource-label">Mind</label>
                            <input type="checkbox" name="system.applicableAttributes.mind" {{checked system.applicableAttributes.mind}}/>
                        </div>
                        <div class="resource-content flex-group-center">
                            <label class="resource-label">Spirit</label>
                            <input type="checkbox" name="system.applicableAttributes.spirit" {{checked system.applicableAttributes.spirit}}/>
                        </div>
                        <div class="resource-content flex-group-center">
                            <label class="resource-label">Guts</label>
                            <input type="checkbox" name="system.applicableAttributes.guts" {{checked system.applicableAttributes.guts}}/>
                        </div>
                    </div>
                </div>

                <div class="resource-content flexrow flex-group-right flex-between">
                    <label class="resource-label">Ultimate Core?</label>
                    <input type="checkbox" name="system.isUlt" {{checked system.isUlt}}/>
                </div>

                <div class="resource-content flexrow flex-group-right flex-between">
                    <label class="resource-label">Max Core Level Adjustment: </label>
                    <input type="text" name="system.maxCoreLevelAdj" value="{{system.maxCoreLevelAdj}}" data-dtype="Number"/>
                </div>

                <div class="resource-content flexrow flex-group-right flex-between">
                    <label class="resource-label">Base Range: </label>
                    <input type="text" name="system.range.max" value="{{system.range.max}}" data-dtype="Number"/>
                </div>
                <div class="resource-content flexrow flex-group-right flex-between">
                    <label class="resource-label">Stamina Cost: </label>
                    <div class="resources grid grid-5col flex-group-right">
                        <div class="resource-content flex-group-center flex-between">
                            <label class="resource-label">Base</label>
                            <input type="text" name="system.staminaCost.base" value="{{system.staminaCost.base}}" data-dtype="Number"/>
                        </div>
                        <div class="resource-content flex-group-center flex-between">
                            <label class="resource-label">Per Level</label>
                            <input type="text" name="system.staminaCost.perLevel" value="{{system.staminaCost.perLevel}}" data-dtype="Number"/>
                        </div>
                        <div class="resource-content flex-group-center flex-between">
                            <label class="resource-label">Min</label>
                            <input type="text" name="system.staminaCost.min" value="{{system.staminaCost.min}}" data-dtype="Number"/>
                        </div>
                    </div>
                </div>
                <div class="resource-content flexrow flex-group-right flex-between">
                    <label class="resource-label">Action: </label>
                    <div class="resources grid grid-3col flex-group-right">
                        <input type="text" name="system.action" value="{{system.action}}" data-dtype="String"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
